@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Roboto:wght@400;700&display=swap");
main h2, .rotuindex {
  /* color: $rosa-400; */
  background-color: #f4cbd7;
  border-radius: 10px;
  border: 1px solid #c6707d;
  max-width: fit-content; }

header {
  min-height: 15%; }

.beauty-spa {
  font-family: "Cormorant", serif; }

nav_link:hover {
  background-color: #301b21 !important;
  color: #f8e7ec; }

@media (max-width: 600px) {
  .header_ {
    font-size: 1.2rem !important;
    flex-direction: row; } }

/* formato utilizado en todos los archivos html */
main {
  min-height: 74%; }
  main h1 {
    box-sizing: content-box; }
  main h2 {
    animation-duration: 2s;
    animation-name: slidein;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.2rem !important; }
    @media (max-width: 600px) {
      main h2 {
        font-size: 1.5rem !important; } }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.rotuindex {
  font-size: 1.2rem !important; }

.centrar-horizontal {
  margin: 0 auto; }

.centrar-vetical {
  margin: auto 0; }

.sociales {
  color: #c2909e;
  align-items: center;
  font-size: 2vh; }
  .sociales a {
    text-decoration: none;
    color: none; }

.cardancho {
  width: 30vw; }
  @media (max-width: 600px) {
    .cardancho {
      width: 100vw;
      font-size: 1.1rem !important; } }

.btnindex {
  background-color: #f8e7ec !important;
  background-size: cover;
  color: #301b21; }
  .btnindex:hover {
    background-color: #301b21 !important;
    color: #f8e7ec; }

.card-title {
  font-size: 1.5rem !important;
  font-weight: 600; }

@media (max-width: 1200px) {
  .cardancho {
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .altotarj {
    min-height: 175px; } }

@media (max-width: 600px) {
  .cardancho {
    width: auto;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem; }
  main {
    min-height: 100%; }
  .altotarj {
    min-height: 120px; } }

.footer {
  display: flex;
  min-height: 7vh;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f4cbd7;
  text-align: center;
  align-items: center;
  font-size: 1.2rem; }

@media (max-width: 1200px) {
  .footer {
    height: auto;
    font-size: 1.2rem !important;
    flex-direction: column; } }

@media (max-width: 600px) {
  .footer {
    height: auto;
    font-size: 1.2rem !important;
    flex-direction: column; } }

.divbotones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.btncentrado {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  width: 15vh;
  margin: 3px 0;
  justify-content: center; }

.tarjeta__alto {
  height: auto; }

.form-contacto-width {
  width: 40%; }

.formu {
  background-color: #f8f9fa; }
  .formu::placeholder {
    padding: 0%;
    margin: 0%;
    color: #b77f8f !important;
    font-style: italic !important;
    background-color: #f8f9fa;
    background-size: 100% !important; }

select {
  /* styling */
  background-color: #f8f9fa;
  border: thin solid #b77f8f;
  color: #b77f8f;
  font-style: italic !important;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none; }

@media (max-width: 1200px) {
  .form-contacto-width {
    width: 65%; }
  .tarjeta__alto {
    height: auto; } }

@media (max-width: 600px) {
  .form-contacto-width {
    width: 85%; }
  .tarjeta__alto {
    height: auto; } }

l {
  display: inline-block;
  will-change: transform, opacity;
  opacity: 0;
  animation-name: slideUpLetter;
  animation-duration: .75s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

w {
  display: inline-block; }

@keyframes slideUpLetter {
  0% {
    transform: translate3d(0, 50%, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes slideDownLetter {
  0% {
    transform: translate3d(0, -50%, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 80%; }

.parent h3 {
  background-color: #f4cbd7;
  margin-top: 1px;
  text-align: center;
  font-size: 3vh; }

.parent h3:hover {
  font-weight: bolder;
  color: #c6707d; }

.parent img:hover {
  transform: scale(101%);
  transform: translate(-0.5rem, -1rem) rotate(3deg);
  /* border: #301b21 solid 1px;  */ }

.tarjeta {
  box-shadow: 5px 5px 5px 5px #b77f8f; }

.tiendacard {
  width: 80%; }

.mainContainer {
  display: flex;
  flex: 1 0 auto;
  width: 100vw;
  min-height: 4vh;
  margin-top: 0;
  justify-content: center;
  padding-top: 0vh; }

.mainContainer .cards {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 1.5vh;
  box-sizing: border-box; }

@media (max-width: 1200px) {
  .parent {
    grid-template-columns: repeat(3, 1fr); } }

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
@media (max-width: 600px) {
  .parent {
    grid-template-columns: repeat(2, 1fr); } }

.mainContainer .cards {
  flex-direction: column; }

.mainContainer {
  width: 100vw; }

* {
  margin: 0%;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 100%; }

html,
body {
  height: 100%;
  background-color: #f8e7ec; }

/* cambia el color de la barra (scroller-bar) solo para webkit */
body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f4cbd7; }

body::-webkit-scrollbar-thumb {
  background-color: #b77f8f;
  background-image: -webkit-linear-gradient(#c6707d 20%, #c6707d 80%);
  border-radius: 10px; }

/* hasta aqui es el codigo del cambio de color del scroller */
.img-servicios {
  width: 30%; }

.subimg {
  background-image: url(https://res.cloudinary.com/rac506/image/upload/v1662142045/proy/fondos/transpa_hairheader_m6fhzf.webp);
  background-size: cover;
  background-position-x: center; }
  @media (max-width: 600px) {
    .subimg {
      background-image: url(https://res.cloudinary.com/rac506/image/upload/v1662142036/proy/fondos/beautiful-flowers_t8hlgl.webp) !important; } }

.subimg-fondo {
  background-image: url(https://res.cloudinary.com/rac506/image/upload/v1662142036/proy/fondos/beautiful-flowers_t8hlgl.webp);
  background-size: cover;
  background-position-x: center; }

ion-icon {
  font-size: 3vh;
  color: #b77f8f;
  margin-right: 1vh; }
  ion-icon:hover {
    color: #343a40; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("https://res.cloudinary.com/rac506/image/upload/v1662143407/proy/fondos/loader4_ahglei.gif") 50% 50% no-repeat #fff;
  opacity: 0.8; }

.fondo-rosa {
  background-color: #f4cbd7 !important;
  background-size: cover;
  color: #301b21; }

.menu .active {
  border-radius: 15px;
  background-color: #301b21 !important;
  color: #f4cbd7 !important; }

.menu a:hover {
  background-color: #301b21 !important;
  color: #f8e7ec;
  border-radius: 10px; }
