@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 100%;
}
html,
body {
  height: 100%;
  background-color: #e8c1cc37;
}
header {
  min-height: 15%;
}
main {
  min-height: 77%;
}
.img-servicios {
  width: 30%;
}
.cardancho {
  width: 30vw;
}
.tiendacard {
  width: 80%;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/loader4.gif") 50% 50% no-repeat rgb(249, 249, 249);
  opacity: 0.8;
}
.fondo-rosa {
  background-color: #e8c1cc !important;
  background-size: cover;
  color: #301b21;
}
.beauty-spa {
  font-family: "Cormorant", serif;
}
.subimg {
  background-image: url(../img/transpa_hairheader.webp);
  background-size: cover;
  background-position-x: center;
}
.subimg-fondo {
  background-image: url(../img/beautiful-flowers.webp);
  background-size: cover;
  background-position-x: center;
}
.sociales {
  color: #c2909e;
  align-items: center;
  font-size: 2vh;
}
.sociales a {
  text-decoration: none;
  color: none;
}
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 80%;
}
.parent h3 {
  background-color: #e8c1cc;
  margin-top: 1px;
  text-align: center;
  font-size: 3vh;
}
.parent h3:hover {
  font-weight: bolder;
  color: #c6707d;
}
.parent img:hover {
  transform: scale(101%);
  transform: translate(-0.5rem, -1rem) rotate(3deg);
  /* border: #301b21 solid 1px;  */
}
.mainContainer {
  display: flex;
  flex: 1 0 auto;
  width: 100vw;
  min-height: 4vh;
  margin-top: 0;
  justify-content: center;
  padding-top: 0vh;
}
.mainContainer .cards {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 1.5vh;
  box-sizing: border-box;
}
.footer {
  display: flex;
  min-height: 7vh;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e8c1cc;
  text-align: center;
  /* height: 4vh; */
  align-items: center;
  font-size: 2.5vh;
}
.divbotones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btncentrado {
  display: flex;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  text-align: center;
  width: 15vh;
  margin: 5px 0;
  justify-content: center;
}
ion-icon {
  font-size: 3vh;
  color: #b77f8f;
  margin-right: 1vh;
}
ion-icon:hover {
  color: #854255;
}
.form-contacto-width {
  width: 40%;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
@media (max-width: 1200px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
  }
  .cardancho {
    width: 50vw;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
@media (max-width: 600px) {
  .mainContainer .cards {
    flex-direction: column;
  }
  .form-contacto-width {
    width: 50%;
  }
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }
  .mainContainer {
    width: 100vw;
  }
  .footer {
    height: auto;
    font-size: 1.2vh;
    flex-direction: column;
  }
  .header_ {
    font-size: 1.5vh;
    flex-direction: row;
  }
  .cardancho {
    width: 80vw;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  main{
    min-height: 100%;
  }
}
