.divbotones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btncentrado {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  width: 15vh;
  margin: 3px 0;
  justify-content: center;
}
.tarjeta__alto {
  height: auto;
}
.form-contacto-width {
  width: 40%;
}
.formu{
  background-color: $gray-100;
  &::placeholder {
    padding: 0%;
    margin: 0%;
    color: $rosa-300 !important;
    font-style: italic!important;
    background-color: $gray-100;
    background-size: 100%!important;
  }
}
select {
  /* styling */
  background-color: $gray-100!important;
  border: thin solid $rosa-300!important;
  color: $rosa-300!important;
  font-style: italic!important;
  $form-select-color:$rosa-300!important;
  border-radius: 3px;
  display: inline-block!important;
  font: inherit;
  line-height: 1em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  box-sizing: border-box;
  -webkit-appearance: none;
}

.parent1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 4 / 3; }
  .div2 { grid-area: 4 / 1 / 5 / 2; }
  .div3 { grid-area: 4 / 2 / 5 / 3; }


@media (max-width: 1200px) {
  .form-contacto-width {
    width: 65%;
  }
  .tarjeta__alto {
    height: auto;
  }
}

@media (max-width: 600px) {
  .form-contacto-width {
    width: auto;
  }
  .tarjeta__alto {
    height: auto;
  }
}

