header {
    min-height: 15%;
  }

  .beauty-spa {
    font-family: "Cormorant", serif;
  }

  nav_link{
    &:hover{
      background-color: $rosa-800!important;
      color: $rosa-900;
  }
}

@media (max-width: $smartphone) {
.header_ {
  font-size: min(3vw ,1.2rem)!important;
  flex-direction: row;
  }
}