header {
    min-height: 15%;
  }

  .beauty-spa {
    font-family: "Cormorant", serif;
  }
  

@media (max-width: $smartphone) {
.header_ {
  font-size: min(3vw ,1.2rem)!important;
  flex-direction: row;
  }
}