.gri-nosotros {
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0vh auto 7vh;
  @media (max-width: $smartphone) {
    grid-template-rows: 0vh auto 7vh;
  }
  grid-template-areas:
    "aheader"
    "amain"
    "afooter";
}
.alto-nosotros {
  min-height: 100%;
}
.header-nosotros {
  grid-area: aheader;
}
.footer-nosotros {
  grid-area: afooter;
}
.main-nosotros {
  grid-area: amain;
}
