.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 80%;
  }
  .parent h3 {
    background-color: $rosa-100;
    margin-top: 1px;
    text-align: center;
    font-size: 3vh;
  }
  .parent h3:hover {
    font-weight: bolder;
    color: $rosa-400;
  }
  .parent img:hover {
    transform: scale(101%);
    transform: translate(-0.5rem, -1rem) rotate(3deg);
    /* border: #301b21 solid 1px;  */
  }
  .tarjeta{
    @include rsombra(5px,$rosa-300)
  }
  .tiendacard {
    width: 80%;
  }
  
  .mainContainer {
    display: flex;
    flex: 1 0 auto;
    width: 100vw;
    min-height: 4vh;
    margin-top: 0;
    justify-content: center;
    padding-top: 0vh;
  }
  .mainContainer .cards {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 1.5vh;
    box-sizing: border-box;
  }
  



  @media (max-width: 1200px) {
    .parent {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  /* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
  @media (max-width: 600px) {
    .parent {
      grid-template-columns: repeat(2, 1fr);
    }
  }  
  .mainContainer .cards {
    flex-direction: column;
  }
  .mainContainer {
    width: 100vw;
  }
